<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Custom Clock</title>
  <style>
    .text-center {
      text-align: center;
    }

    .clock {
      font-size: 24px;
      margin: 0;
    }

    .clock-label {
      font-size: 18px;
    }

    .clock-container {
      display: block;
      justify-content: space-between;
      align-items: baseline;
      padding: 10px;
    }

    .w-100 {
      width: 100% !important;
    }

    p {
      width: 150px;
      margin: 0;
      display: inline-block;
      text-align: left !important;
      padding-left: 50px;
    }

    .title{
      font-size: 24px;
    }
    .pt-5{
      padding-top: 5px;
    }
  </style>
</head>

<body>
  <div class="text-center mt-5">

    <span class="title">Mathorian KaGoDoRa</span>
    <div class="clock-container">
      <div class="w-100">
        <div>
          <p class="clock" id="seconds"></p>
          <p class="clock-label">Shu</p>
        </div>

      </div>

      <div class="w-100">
        <div>
          <p class="clock" id="minutes"></p>
          <p class="clock-label">GoDo</p>
        </div>

      </div>
      <div class="w-100">
        <div>
          <p class="clock" id="hours"></p>
          <p class="clock-label">Do</p>
        </div>
      </div>
      <div class="w-100">
        <div>
          <p class="clock" id="days"></p>
          <p class="clock-label">Rays</p>
        </div>
      </div>
      <div class="w-100">
        <div>
          <p class="clock" id="months"></p>
          <p class="clock-label">Turn</p>
        </div>
      </div>
      <div class="w-100">
        <div>
          <p class="clock" id="years"></p>
          <p class="clock-label">Ring</p>
        </div>
      </div>
      <div class="w-100">
        <div>
          <p class="clock" id="solarCycles"></p>
          <p class="clock-label">Cycle</p>
        </div>
      </div>
      <div class="w-100 pt-5">
        <div>
          <span class="clock" id="clock"></span>        
        </div>
      </div>
    </div>
    <!-- <p>Mathorian KaGoDoRa</p>
    <p class="clock" id="seconds"></p>
    <p class="clock" id="minutes"></p>
    <p class="clock" id="hours"></p>
    <p class="clock" id="days"></p>
    <p class="clock" id="months"></p>
    <p class="clock" id="years"></p>
    <p class="clock" id="solarCycles"></p> -->
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
    <script src='https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js'></script>
    
    <script> 
      var database_values;
      const firebaseConfig = {
        apiKey: "AIzaSyAycglMgsoa5iWClWUkhRcw4zTD97uZb9A",
        authDomain: "custom-clock2.firebaseapp.com",
        databaseURL: "https://custom-clock2-default-rtdb.firebaseio.com",
        projectId: "custom-clock2",
        storageBucket: "custom-clock2.appspot.com",
        messagingSenderId: "1048772616937",
        appId: "1:1048772616937:web:e644a3afe705d887110678",
        measurementId: "G-V3RLCB2XNZ"
      };
      
      firebase.initializeApp(firebaseConfig);
      let customclockdb=firebase.database().ref("custom-clock2") 

      const clock=(hours,minutes,seconds,nowdate,total_days,total_months,total_years,solar_cycle)=>{      
        // var newclock=customclockdb.push()
        customclockdb.set({ 
          hours: hours,
          minutes: minutes,
          seconds: seconds,
          current_time: nowdate,
          totalDays: total_days,
          totalMonths: total_months,
          totalYears: total_years,
          solarCycle: solar_cycle   
        })
      }

      
      function getdata(){

        // console.log("Starting of get data")
        
        firebase.database().ref("custom-clock2").once('value', function(snapshot) {
          database_values = snapshot.val()
          // console.log(database_values)
        //   snapshot.forEach(function(childSnapshot) {
       
        //   var childData = childSnapshot.val();
        //   var parentdata=childSnapshot.key
        //   childData=snapshot.val()
        //   let testing_data=childData["hours"]
        //   // console.log("Real-time Data:",testing_data);    
        //  })
        // return snapshot.val()
        }, function(error) {
             console.error(error);}
        );

        // console.log("Ending of get data")
        // return database_values

      }

    </script>

    <script>

      getdata();
      


      let advances = 0;
      let minutes = 0;
      let advanceHours = 0;
      //let totalDays = 959;
      // let totalDays = (9720000 * 25) + 960;
      let totalDays = 0;
      let solarCycles = 0
      let totalMonths =0          //added by me
      let totalYears=0            //added by me

      // Define custom time units
      const secondsPerAdvance = 90;
      const advancesPerMinute = 90;
      const minutesPerAdvanceHour = 90;                
      const advanceHoursPerDay = 18;
      const daysPerMonth = 45;
      const monthsPerYear = 8;
      const daysPerYear = daysPerMonth * monthsPerYear;
      const daysPerSolarCycle = 9720000;

      function initializeClock() {

        var current_server_time = "{{ current_server_time }}";
        
        console.log(database_values);  
        // console.log(database_values['totalDays'])
        stored_solar_cycle = Number.parseInt(database_values['solarCycle'])
        stored_total_days = Number.parseInt(database_values['totalDays'] )

        totalDays = (9720000 * stored_solar_cycle) + stored_total_days
        // console.log(totalDays) 


        // stored_hours = 12
        // stored_mins = 9
        // stored_secs = 45

        stored_hours = Number.parseInt(database_values['hours'])
        stored_mins = Number.parseInt(database_values['minutes'])
        stored_secs = Number.parseInt(database_values['seconds'])

        // var storedDateTime = new Date('2023-09-08 16:55:13');
        var storedDateTime = new Date(`${database_values['current_time']}`);
        var currentDateTime = current_server_time
        let counter_time = new Date(`2023-08-25 ${stored_hours}:${stored_mins}:${stored_secs}`)

        console.log(`Default stored time: ${storedDateTime.toString()}`)
        console.log(`Current time: ${currentDateTime}`)
        console.log(`Counter Time: ${counter_time}`)

        // Calculate the difference in seconds
        const differenceInSeconds = Math.floor((currentDateTime.getTime() - storedDateTime.getTime()) / 1000);

        // Calculate the difference in days, hours, minutes, and seconds
        const secondsInMinute = 90;
        const minutesInHour = 90;
        const hoursInDay = 18;

        const differenceInDays = Math.floor(differenceInSeconds / (secondsInMinute * minutesInHour * hoursInDay));
        const differenceInHours = Math.floor((differenceInSeconds % (secondsInMinute * minutesInHour * hoursInDay)) / (secondsInMinute * minutesInHour));
        const differenceInMinutes = Math.floor((differenceInSeconds % (secondsInMinute * minutesInHour)) / secondsInMinute);
        const differenceInSecondsOnly = differenceInSeconds % secondsInMinute;


        console.log(differenceInHours)
        console.log(differenceInMinutes)
        console.log(differenceInSecondsOnly)

        let seconds = ((stored_secs + differenceInSecondsOnly) % secondsInMinute)
        let minutes_ = ((stored_mins + differenceInMinutes) % minutesInHour ) + Math.floor((stored_secs + differenceInSecondsOnly) / secondsInMinute)
        let hours = ((stored_hours + differenceInHours) % hoursInDay ) + Math.floor((stored_mins + differenceInMinutes) / minutesInHour)


        // console.log(seconds)
        // console.log(minutes_)
        // console.log(hours)

        let adjusted_time = `${hours}:${minutes_}:${seconds}`
        console.log(adjusted_time)

        // Get the current time
        // const now = new Date();

        // Calculate time advances based on the current time
        advances = (seconds % secondsPerAdvance);
        minutes = (minutes_ % advancesPerMinute);
        advanceHours = (hours % minutesPerAdvanceHour);



        if (totalDays > 0) {
          updateInitialDays()
        }

        // Update the clock initially
        updateClock();


      }

      function updateClock() {
        // Define custom time units
        const secondsPerAdvance = 90;
        const advancesPerMinute = 90;
        const minutesPerAdvanceHour = 90;
        const advanceHoursPerDay = 18;
        const daysPerMonth = 45;
        const monthsPerYear = 8;
        const daysPerYear = daysPerMonth * monthsPerYear;
        const daysPerSolarCycle = 9720000;

        let currentDatetime2 = new Date();
        let current_date = currentDatetime2.getDate();
        let current_hours = currentDatetime2.getHours();
        let current_minutes = padNumber(currentDatetime2.getMinutes());
        let current_seconds = padNumber(currentDatetime2.getSeconds());                 
        let current_month = currentDatetime2.getMonth()+1;
        let current_year = currentDatetime2.getFullYear();
        // let current_date_for_database=current_date+"/"+current_month+"/"+current_year+"/  "+current_hours+":"+current_minutes+":"+current_seconds
        let current_date_for_database=current_year+"-"+current_month+"-"+current_date+" "+current_hours+":"+current_minutes+":"+current_seconds
        
        // clock(advanceHours,minutes,advances,current_date_for_database,padNumber(totalDays),totalMonths,totalYears,solarCycles)    
        // getdata()       

        
        // console.log(`${advanceHours}:${minutes}:${advances}`)

        // Calculate time advances
        advances = (advances + 1) % advancesPerMinute;
        if (advances === 0 ) {
          updateMinutes(minutesPerAdvanceHour);
          // CODE BELOW SEND DATA EVERY SECOND 
          // clock(advanceHours,minutes,advances,current_date_for_database,padNumber(totalDays),totalMonths,totalYears,solarCycles)
          // getdata()
          
        }
        if(minutes===0 && advances==0){
          clock(advanceHours,minutes,advances,current_date_for_database,padNumber(totalDays),totalMonths,totalYears,solarCycles)    
          getdata()         

        }
        
        // Calculate month and year advances
        totalMonths = Math.floor(totalDays / daysPerMonth);
        const months = totalMonths % monthsPerYear;
        totalYears = Math.floor(totalMonths / monthsPerYear);
        const years = totalYears % (daysPerYear / daysPerMonth);


        // Calculate solar cycle advances
        // solarCycles = Math.floor(totalYears / (daysPerSolarCycle / daysPerYear));

        // Format the time
        const formattedTime =
          padder(solarCycles, "solar") + "-"
          + padder(totalYears, "year") + "-" +
          padder(totalMonths, "month") + "-" + padder(totalDays, "days") + "-" +
          padNumber(advanceHours) + ':' +
          padNumber(minutes) + ':' +
          padNumber(advances);

        // CODE BELOW SEND DATA AFTER EVERY SECONDS(CURRENT TIME)
        // let mycurrent=currentDatetime2.getSeconds()
        // if (mycurrent==0){getdata()
        //   clock(advanceHours,minutes,advances,current_date_for_database,padNumber(totalDays),totalMonths,totalYears,solarCycles)
        // }
       
        
        // console.log(formattedTime)
        // Update the clock element
        document.getElementById('clock').textContent = formattedTime;

        // Update additional elements (days, months, years, solar cycles)
        document.getElementById('seconds').textContent = padNumber(advances);
        document.getElementById('minutes').textContent = padNumber(minutes);
        document.getElementById('hours').textContent = padNumber(advanceHours);
        document.getElementById('days').textContent = padder(totalDays, "days");
        document.getElementById('months').textContent = padder(totalMonths, "month");
        document.getElementById('years').textContent = padder(totalYears, "year");
        document.getElementById('solarCycles').textContent = padder(solarCycles, "solar");
      }

      function updateMinutes(minutesPerAdvanceHour) {
        minutes = (minutes + 1) % minutesPerAdvanceHour;
        if (minutes === 0) {
          updateHours()        
        }
      }

      function updateHours() {
        let advanceHoursPerDay = 18;

        advanceHours = (advanceHours + 1) % advanceHoursPerDay;
        if (advanceHours === 0) {
          updateDays();
        }
      }

      function updateDays() {
        const daysPerSolarCycle = 9720000;
        const totalMonths = Math.floor(totalDays / daysPerMonth);
        const months = totalMonths % monthsPerYear;
        const totalYears = Math.floor(totalMonths / monthsPerYear);
        const years = totalYears % (daysPerYear / daysPerMonth);


        if (((totalDays + 1) % daysPerSolarCycle) < totalDays) {
          console.log(solarCycles)
          console.log(Math.ceil(totalYears / (daysPerSolarCycle / daysPerYear)))
          solarCycles = solarCycles + Math.ceil(totalYears / (daysPerSolarCycle / daysPerYear));
        }

        totalDays = (totalDays + 1) % daysPerSolarCycle;
        // solarCycles = solarCycles + Math.floor(totalYears / (daysPerSolarCycle / daysPerYear));
        // totalDays = (totalDays ) % daysPerSolarCycle;

      }


      function updateInitialDays() {
        const daysPerSolarCycle = 9720000;

        const totalMonths = Math.floor(totalDays / daysPerMonth);
        const months = totalMonths % monthsPerYear;
        const totalYears = Math.floor(totalMonths / monthsPerYear);
        const years = totalYears % (daysPerYear / daysPerMonth);

        // solarCycles = solarCycles + Math.floor(totalYears / (daysPerSolarCycle / daysPerYear));
        // totalDays = (totalDays ) % daysPerSolarCycle;
        if (((totalDays + 1) % daysPerSolarCycle) < totalDays) {
          // console.log(totalDays / daysPerSolarCycle)
          solarCycles = solarCycles + Math.floor(totalYears / (daysPerSolarCycle / daysPerYear));
          // console.log
        }
        totalDays = (totalDays) % daysPerSolarCycle;
      }
     
      function padNumber(num) {
        return String(num).padStart(2, '0');
      }

      function padder(num, type) {
        if (type === 'year') {
          return String(num).padStart(5, '0')
        }
        else if (type === 'month') {

          return String(num).padStart(6, '0')
        }
        else if (type === 'days') {

          return String(num).padStart(7, '0')
        }
        else if (type === 'solar') {

          return String(num).padStart(2, '0')
        }
      }


      function startInterval(){
        setInterval(updateClock, 1000);

      }


      const myTimeout = setTimeout(initializeClock, 2000);
      const myTimeout2 = setTimeout(startInterval, 3000);

      // Initialize the clock based on the current date
      // initializeClock();
      
      // Update the clock every second
      // setInterval(updateClock, 1000);

      

    </script>
  </div>
</body>

</html>
